@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  display: grid;
  place-items: center;
  background-image: url(../../assets/img/bg.png);
}
.container {
  margin-top: 5em;
  width: 20em;
  height: 20em;
  padding: 3em 0;
  background-color: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  border-radius: 5em;
  display: grid;
  justify-content: center;
  gap: 2em;
}
h1 {
  color: #292b2c;
}

span {
  opacity: 0;
  transition: opacity 0.5s;
}
span.visible {
  opacity: 1;
}

button {
  font-weight: bold;
  padding: 1em;
  border-radius: 10em;
  border: none;
  cursor: pointer;
  background-color: #0269c2;
  font-family: Inter;
  color: white;
  transition: all 0.5s ease;
}

button:hover {
  background-color: #013b6c;
}

.pallete {
  width: 15em;
  height: 15em;
  background-color: #6c757d;
  border-radius: 100%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  display: grid;
  place-items: center;
}

span {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
}
